{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ active_lang }}">
<head>
    <title>Guillaume Jorandon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio_main/css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio_main/css/default.css' %}" />
    <meta charset="utf-9" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <nav><ul>
        <li class="nav-anchor"><a href="#about">{% trans "À propos" %}</a></li>
        <li class="nav-anchor"><a href="#phd">{% trans "Doctorat" %}</a></li>
        <li class="nav-anchor"><a href="#contact">{% trans "Contact" %}</a></li>
        <li class="nav-lang"><a href="/fr">FR</a></li>
        <li class="nav-lang"><a href="/en">EN</a></li>
    </ul></nav>
    <header>
        <h1>Guillaume Jorandon</h1>
        <img id="profile-picture" src="{% static 'portfolio_main/img/profile.png' %}" alt="Guillaume Jorandon" />
        <p>
        {% blocktrans %}
        Queer français, navigue à voile et à vapeur. Scientifique des données, doctorant en éthique de l'IA pour la santé à l'<strong>Université Laval</strong> (Québec).
        {% endblocktrans %}
        </p>
    </header>
    <section class="flex-section">
        <span class="anchor" id="about"></span>
        <h1>{% trans "Qui suis-je ?" %}</h1>
        <div class="flex-aside">
            <p>
            {% blocktrans %}
            Bienvenue chez moi ! Je m'appelle Guillaume, et je suis <strong>ingénieur en science des données</strong> diplômé de l'<abbr title="Université de Technologie de Compiègne">UTC</abbr>, en France. J'y ai étudié les mathématiques et l'<abbr title="fouille de données, entrepôts de données, apprentissage machine, apprentissage profond, recherche opérationnelle et optimisation">analyse de données avancée</abbr>. Dans le cadre du mineur <a href="https://sites.google.com/site/mineurphiteco/" title="Site du mineur PHITECO">PHITECO</a>, j'ai eu une formation cohérente en <strong>sciences cognitives</strong> et philosophie des techniques.
            {% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}
            Je suis actuellement en doctorat sur mesure à l'Université Laval, à Québec, en éthique de l'intelligence artificielle dans le domaine de la santé.
            {% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}
            Sur mon temps libre, il m'arrive de bidouiller des trucs. N'hésitez pas à jeter un œil !
            {% endblocktrans %}
            </p>
        </div>
        <ul class="buttons flex-aside">
            <li>
                <div class="buttons-img"><img src="{% static 'portfolio_main/img/na.png' %}" alt="A" /></div>
                <a href="#popup_A" class="buttons-title"><h2>Titre A</h2></a>
                <div id="popup_A" class="buttons-details">
                    <div class="buttons-popup">
                        <a class="buttons-popup-close" href="#about">&times;</a>
                        <h2>Titre A</h2>
                        <p>
                        {% blocktrans %}
                        Une courte description du projet, de ce que j'y fais et de ce que ça m'apporte.
                        {% endblocktrans %}
                        </p>
                        <ul class="buttons-details-links">
                            <li><a href="#">{% trans "Site du projet" %}</a></li>
                            <li><a href="#">{% trans "Réseaux sociaux" %}</a></li>
                        </ul>
                </div>
            </li>
            <li>
                <div class="buttons-img"><img src="{% static 'portfolio_main/img/na.png' %}" alt="B" /></div>
                <a href="#popup_B" class="buttons-title"><h2>Titre B</h2></a>
                <div id="popup_B" class="buttons-details">
                    <div class="buttons-popup">
                        <a class="buttons-popup-close" href="#about">&times;</a>
                        <h2>Titre B</h2>
                        <p>
                        {% blocktrans %}
                        Une courte description du projet, de ce que j'y fais et de ce que ça m'apporte.
                        {% endblocktrans %}
                        </p>
                        <ul class="buttons-details-links">
                            <li><a href="#">{% trans "Site du projet" %}</a></li>
                            <li><a href="#">{% trans "Réseaux sociaux" %}</a></li>
                        </ul>
                </div>
            </li>
            <li>
                <div class="buttons-img"><img src="{% static 'portfolio_main/img/na.png' %}" alt="C" /></div>
                <a href="#popup_C" class="buttons-title"><h2>Titre C</h2></a>
                <div id="popup_C" class="buttons-details">
                    <div class="buttons-popup">
                        <a class="buttons-popup-close" href="#about">&times;</a>
                        <h2>Titre C</h2>
                        <p>
                        {% blocktrans %}
                        Une courte description du projet, de ce que j'y fais et de ce que ça m'apporte.
                        {% endblocktrans %}
                        </p>
                        <ul class="buttons-details-links">
                            <li><a href="#">{% trans "Site du projet" %}</a></li>
                            <li><a href="#">{% trans "Réseaux sociaux" %}</a></li>
                        </ul>
                </div>
            </li>
            <li>
                <div class="buttons-img"><img src="{% static 'portfolio_main/img/na.png' %}" alt="D" /></div>
                <a href="#popup_D" class="buttons-title"><h2>Titre D</h2></a>
                <div id="popup_D" class="buttons-details">
                    <div class="buttons-popup">
                        <a class="buttons-popup-close" href="#about">&times;</a>
                        <h2>Titre D</h2>
                        <p>
                        {% blocktrans %}
                        Une courte description du projet, de ce que j'y fais et de ce que ça m'apporte.
                        {% endblocktrans %}
                        </p>
                        <ul class="buttons-details-links">
                            <li><a href="#">{% trans "Site du projet" %}</a></li>
                            <li><a href="#">{% trans "Réseaux sociaux" %}</a></li>
                        </ul>
                </div>
            </li>
        </ul>
        <p class="clear-floats">
        {% blocktrans %}
        Si vous désirez avoir un résumé plus détaillé de mon parcours, vous pouvez télécharger mon CV en <a href="https://portfolio.intensifi.es/files/cv.pdf">français</a> et en <a href="https://portfolio.intensifi.es/files/cv_en.pdf">anglais</a>.
        {% endblocktrans %}
        </p>
    </section>
    <section>
        <span class="anchor" id="phd"></span>
        <h1>{% trans "Doctorat" %}</h1>
        <p>
        {% blocktrans %}
        Mon sujet de thèse porte sur les pseudo-médecines et science des données : étude de l’impact des algorithmes apprenants sur la propagation de la désinformation dans le domaine de la santé.
        {% endblocktrans %}
        </p>
        <p>
        {% blocktrans %}
        Le projet vise à étudier les effets sur le débat public de l'intelligence artificielle et de la science des données, et de leurs usages par les nouveaux diffuseurs de contenu sur le web. Il se propose d'aborder les aspects éthiques des algorithmes apprenants et des filtres de recommandation utilisés par les acteurs d'Internet pour la présentation et la sélection du contenu aux internautes. Plus particulièrement, le projet pose la question de la conséquence de tels algorithmes sur la santé publique, notamment dans la propagation de la désinformation médicale et des pseudo-médecines.
        {% endblocktrans %}
        </p>
        <p>
        {% blocktrans %}
        Ce projet se propose donc de porter un regard critique sur les techniques de la science des données, et sur leurs utilisations. Le point de vue développé intégrera les savoirs de différentes discipline des sciences sociales (éthique, sciences de la communication, philosophie des techniques) et influencera le développement de solutions techniques et de conseils pour la mise en oeuvre d'une IA éthique et durable. Le projet comporte donc un double-volet technique et philosophique, avec une perspective d'intégration interdisciplinaire.
        {% endblocktrans %}
        </p>
    </section>
    <section>
        <span class="anchor" id="contact"></span>
        <h1>{% trans "Contactez-moi !" %}</h1>
        <p>
        {% blocktrans %}
        Vous souhaitez discuter ? Me poser une question ? Me contacter ? Utilisez ce formulaire ou contactez-moi via mes réseaux sociaux !
        {% endblocktrans %}
        </p>
        {% if error_info != "" %}
        <div class="error-info">{{ error_info }}</div>
        {% elif success_info %}
        <div class="success-info">{% trans "Message envoyé. Je vais l'examiner et y répondre dans les plus brefs délais." %}</div>
        {% elif not sendmail_enabled %}
        <div class="warning-info">{% trans "L'envoi de messages est actuellement désactivé. Je vous invite à me contacter sur les réseaux sociaux." %}</div>
        {% endif %}

        <form method="post" action="{% url "home" active_lang %}#contact">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans "Envoyer" %}" />
        </form>
        <ul class="contact-links">
            <li><a href="https://www.linkedin.com/in/guillaume-jorandon-b088a5116/" title="LinkedIn"><img src="/static/portfolio_main/img/linkedin-icon.png" alt="LinkedIn" /></a></li>
	    <li><a href="https://github.com/gjorando" title="GitHub"><img src="/static/portfolio_main/img/github-icon.png" alt="GitHub" /></a></li>
        </ul>
    </section>
    <footer>
        <p>{% trans 'Le thème de ce site est transféré dans le domaine public selon les termes de la <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.fr" title="CC0">licence CC0</a>' %}.</p>
        <p>{% blocktrans %}La police de caractères <a href="http://mplus-fonts.osdn.jp/">M<span style="vertical-align: super; font-size: 0.8em; line-height: 0;">+</span> P Type-1</a> est mise à disposition selon les dispositions de la licence {% endblocktrans %}<a href="{% static 'portfolio_main/fonts/MPLUS1p/OFL.txt' %}">OFL</a>{% blocktrans %}.{% endblocktrans %}</p>
    </footer>
</body>
</html>
